/*CSS for the RTI page*/

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: #314757;
	padding: 10px;
}

img {
	padding: 5px;
	width: 100px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

table {
	padding: 15px;
	table-layout: fixed;
	width: 800px;
}


/* generic page structure */
.grid {
	display: grid;
	grid-template-columns: 1fr repeat(9, minmax(auto, 8em)) 1fr;
	grid-template-rows: minmax(1em, auto);
}

.header {
	grid-column: 2/10;
	gird-row: 1;
	background-color: white;
}

.body {
	grid-column: 2/10;
	grid-row: 2/4;
	background-color: white;
}

